<?xml version="1.0"?>
<config>
    <modules>
        <RC_Extsales>
            <version>0.1.0</version>
        </RC_Extsales>
    </modules>
    <global>
        <models>
            <extsales>
                <class>RC_Extsales_Model</class>
            </extsales>
            <sales>
                <rewrite>
                    <order>RC_Extsales_Model_Order</order>
                </rewrite>
            </sales>
            <core>
                <rewrite>
                    <email_template_mailer>RC_Extsales_Model_Email_Template_Mailer</email_template_mailer>
                </rewrite>
            </core>
        </models>
        <template>
            <email>
                <extsales_pdf_templates_invoice_pdf_template translate="label" module="extsales">
                    <label>Invoice PDF</label>
                    <file>extsales/invoice_new.html</file>
                    <type>html</type>
                </extsales_pdf_templates_invoice_pdf_template>
            </email>
        </template>
        <helpers>
            <extsales>
                <class>RC_Extsales_Helper</class>
            </extsales>
        </helpers>
        <events>
            <sales_order_send_new_email_before>
                <observers>
                    <extsales_order_email_add_invoice_pdf>
                        <type>singleton</type>
                        <class>RC_Extsales_Model_Observer</class>
                        <method>addInvoicePdf</method>
                    </extsales_order_email_add_invoice_pdf>
                </observers>
            </sales_order_send_new_email_before>
        </events>
    </global>
    <default>
        <extsales>
            <pdf_templates>
                <use_default>1</use_default>
                <invoice_pdf_template>extsales_pdf_templates_invoice_pdf_template</invoice_pdf_template>
            </pdf_templates>
        </extsales>
    </default>
</config>