<?xml version="1.0"?>
<config>
    <modules>
        <RC_Extcms>
            <version>0.1.0</version>
        </RC_Extcms>
    </modules>
    <global>
        <models>
            <extcms>
                <class>RC_Extcms_Model</class>
            </extcms>
            <cms>
                <rewrite>
                    <page>RC_Extcms_Model_Page</page>
                </rewrite>
            </cms>
        </models>
        <helpers>
            <extcms>
                <class>RC_Extcms_Helper</class>
            </extcms>
        </helpers>
        <blocks>
            <extcms>
                <class>RC_Extcms_Block</class>
            </extcms>
        </blocks>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <extcms_page_edit_tab_content>
                        <type>singleton</type>
                        <class>RC_Extcms_Model_Observer</class>
                        <method>addCategoryCmsField</method>
                    </extcms_page_edit_tab_content>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
        </events>
        <resources>
            <rc_extcms_setup>
                <setup>
                    <module>RC_Extcms</module>
                </setup>
            </rc_extcms_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <extpages>
                <use>standard</use>
                <args>
                    <frontName>extpages</frontName>
                    <module>RC_Extcms</module>
                </args>
            </extpages>
        </routers>
        <layout>
            <updates>
                <extcms>
                    <file>extcms.xml</file>
                </extcms>
            </updates>
        </layout>
    </frontend>
</config>